body {
    background:black;
}
h4 {
    color:red;
}
h3,h1 {
    color:red;
}
a {
    color:black;
    text-decoration:none;
}
.coba {
    color:white;
    text-align:center;
    font-size:15px;
}
.transletor {
    text-align:right;
    color:white;
}
.nama {
    color:red;
    text-align:center;
}
.kawai_kanojo-chan {
    width:160px;
    height:260px;
}
.judul_kawaii {
    width:340px;
    height:460px;
}
.pertama_1 {
    width:340px;
    height:440px;
}
.kedua_1 {
    width:340px;
    height:440px;
}
.ketiga_1 {
    width:340px;
    height:440px;
}
.keempat_1 {
    width:340px;
    height:440px;
}
.kelima_1 {
    width:340px;
    height:440px;
}
.keenam_1 {
    width:340px;
    height:440px;
}
.ketujuh_1 {
    width:340px;
    height:440px;
}
.kedelapan_1 {
    width:340px;
    height:440px;
}
.kesembilan_1 {
    width:340px;
    height:440px;
}
.kesepuluh_1 {
    width:340px;
    height:440px;
}
.kesebelas_1 {
    width:340px;
    height:440px;
}
.keduabelas_1 {
    width:340px;
    height:440px;
}
.ketigabelas_1 {
    width:340px;
    height:440px;
}